<div class="container">
  <h3>현재 접속중인 email :
    <%= current_user.email %>
  </h3>

  <table class="table table-bordered">
    <thead>
    <tr>
      <th>#</th>
      <th>지역</th>
      <th>나라</th>
    </tr>
    </thead>

    <tbody>
    <% @travels.each do |travel| %>
        <tr>
          <td>
            <%= travel.id %>
          </td>
          <td>
            <%= link_to "#{travel.title}", travel_path(travel) %>
          </td>
          <td>
            <%= travel.country %>
          </td>
        </tr>
    <% end %>
    </tbody>
  </table>

  <%= link_to "홈", root_path, class: "btn btn-primary" %>
</div>