<!-- 내가 갖고 있는 여행지 목록 띄우는 페이지 -->

<style>
  @import url(http://fonts.googleapis.com/earlyaccess/hanna.css);
  .tstyle {
    font-family: 'Hanna';
    font-size: 15px;

  }
    th{
      text-align: center;
    }

</style>

<div class="container">
  <h3>현재 접속중인 email :
    <%= current_user.email %>
  </h3>

  <table class="table table-bordered "style="border:5px solid white">
    <thead class="tstyle">
    <tr style="border-bottom: 5px solid white">
      <th>#</th>
      <th>지역</th>
      <th >나라</th>
    </tr>
    </thead>

    <tbody class="tstyle">
    <% @travels.each do |travel| %>
        <tr style="border-bottom: 5px solid white">
          <td>
            <%= travel.id %>
          </td>
          <td>
            <%= link_to "#{travel.title}", travel_path(travel) %>
          </td>
          <td >
            <%= travel.country %>
          </td>
        </tr>
    <% end %>
    </tbody>
  </table>

  <%= link_to "홈", root_path, class: "btn btn-primary" %>
</div>
